.public-container{
    max-height: 100%;
    margin-top: 12%;
}
.tabel-top{
    position: relative;
}

.border-none td{
    border: none;
}
.border-none th{
    border: none;
}
.border-none{
    border: none;
}

.border-none{
    background-color: #3C2485 ;
}